{% extends 'Header.html.twig' %}

{% block title %}Refresh account verification{% endblock %}

{% block body %}
    <div id="mid-container">
        <h3>Enter your mail realated with your account.</h3>
        {{ form(form) }}
    </div>
{% endblock %}
