{% extends 'Header.html.twig' %}

{% block title %}Refresh email was sent{% endblock %}

{% block body %}
    <div id="mid-container">
        <h3>Refresh email was sent</h3>
        <h4>refresh email has been sent, check your email</h4>
    </div>

{% endblock %}
