{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}you will must add instruction{% endblock %}

{% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}

{% block main %}

    {# TODO: add instrcion to admin #}
{% endblock %}