{% extends 'Header.html.twig' %}

{% block title %}New offers{% endblock %}

{% block body %}
    <div id="mid-container">
        <h3>Enter the details of the car you want to offer</h3>
        {% if form|default %}
            {{ form(form) }}
        {% endif %}
    </div>
{% endblock %}
